{% load i18n  %}

<h3>{% trans "Signup Overview" %}</h3>

<div class="info detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Signup ID" %}</dt>
    <dd>{{ signup.id }}</dd>
    <dt>{% trans "Created At" %}</dt>
    <dd>{{ signup.cdate }}</dd>
    <dt>{% trans "Username" %}</dt>
    <dd>{{ signup.username }}</dd>
    <dt>{% trans "Score" %}</dt>
    <dd>{{ signup.score }}</dd>
    <dt>{% trans "State" %}</dt>
    <dd>{{ signup.state }}</dd>
  </dl>
  <h4>{% trans "Contact Info" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Organization" %}</dt>
    <dd>{{ signup.organization }}</dd>
    <dt>{% trans "Contact Person" %}</dt>
    <dd>{{ signup.contact_person }}</dd>
    <dt>{% trans "Contact Phone" %}</dt>
    <dd>{{ signup.contact_phone }}</dd>
    <dt>{% trans "Contact Email" %}</dt>
    <dd>{{ signup.contact_email }}</dd>
    <dt>{% trans "Address" %}</dt>
    <dd>{{ signup.contact_address }}</dd>
    <dt>{% trans "Contact Referral" %}</dt>
    <dd>{{ signup.contact_referral }}</dd>
    <dt>{{ contact_extra_label }}</dt>
    <dd>{{ signup.contact_extra }}</dd>
  </dl>
  <h4>{% trans "Billing" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Address" %}</dt>
    <dd>{{ signup.billing_address }}</dd>
    <dt>{% trans "Credit Card Holder" %}</dt>
    <dd>{{ signup.billing_cc_holder }}</dd>
    <dt>{% trans "Credit Card Number" %}</dt>
    <dd>{{ signup.billing_cc_number }}</dd>
    <dt>{% trans "Credit Card Expire" %}</dt>
    <dd>{{ signup.billing_cc_expire }}</dd>
  </dl>
  <h4>{% trans "Extra" %}</h4>
  <hr class="header_rule">
  <pre style="height: 25em; overflow: auto;"><code>{{ signup.extra_as_str }}</code></pre>
</div>
