{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Update Domain" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Modify Domain") %}
{% endblock page_header %}

{% block main %}
    {% include 'identity/signups/_modify_domain.html' %}
{% endblock %}
~                                                                                                                                                                       
~                                                                                                                                                                       
~                                 