/**
 *  default style
**/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300,300italic);

* {
  box-sizing: border-box;
  outline: 0 none;
}

html, body {
  color: #454545;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

body {
  background: #f3f3f3;
  padding-top: 60px;
}

header {
  background: #ffffff;
  border-bottom: 2px solid #4a90e2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #4a4a4a;
  padding: 0;
  height: 50px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

/* style input placeholders */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}

/* helper classes */
.w-25 {
  width: 25% !important;
}
.w-34 {
  width: 34% !important;
}
.w-50 {
  width: 50% !important;
}
.w-66 {
  width: 66% !important;
}
.w-75 {
  width: 75% !important;
}

#branding {
  font-size: 1.33em;
  font-weight: bold;
}

#branding:link,
#branding:visited {
  border-bottom: 2px solid transparent;
  color: inherit;
  display: inline-block;
  height: 50px;
  padding: 0 0 5px 0;
  text-decoration: none;
  transition: all .25s ease;
}

#brand-html {
  display: none;
}

#contacts {
  height: 50px;
}

#contacts a {
  border-bottom: 2px solid transparent;
  color: inherit;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 13px 5px 0;
  text-decoration: none;
  transition: all .25s ease;
}
#contacts a:hover {
  border-bottom-color: #2fade2;
}

#branding:focus,
#branding:hover,
#contacts a:focus,
#contacts a:hover {
  color: #2fade2;
  border-bottom-color: #2fade2;
}

#content {
  padding: 5px;
}

#signup-form {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#signup-form fieldset,
.success #message {
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0 1em .5em;
  margin: 1em 0;
}

#signup-form .form-title {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.15);*/
  color: #4a90e2;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
  text-shadow: 1px  1px rgba(0, 0, 0, 0.15);
}

#signup-form fieldset > hr,
.success #message > hr {
  background: rgba(0, 0, 0, 0.1);
  /*background-image: -webkit-linear-gradient(left, purple, #fafafa);*/
  border: 0 none;
  height: 1px;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#signup-form .form-field {
  border: 1px solid transparent;
  padding: 0 0.5em;
}

#signup-form .form-field label {
  color: #444;
  line-height: 25px;
  height: 30px;
  margin: 0.75em 0;
}
#signup-form .form-field label.checkbox {
  cursor: pointer;
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
}
#signup-form .form-field label.checkbox input[type=checkbox] {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 2px;
  left: 2px;
  margin: 0;
}
#signup-form .form-field label.checkbox > i {
  background: #fafafa;
  border: 1px dotted #bbb;
  display: inline-block;
  height: 25px;
  margin: 1px 0 4px;
  position: relative;
  vertical-align: middle;
  width: 25px;
  transition: all .25s ease;
}
#signup-form .form-field label.checkbox input + i:after {
  background: transparent;
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0px;
  height: 0px;
  transition: all .1s ease;
}
#signup-form .form-field label.checkbox input:active + i,
#signup-form .form-field label.checkbox input:focus + i {
  border: 1px solid #0778be;
}
#signup-form .form-field label.checkbox input:checked + i {
}
#signup-form .form-field label.checkbox input:checked + i:after {
  /*Make it a small rectangle so the border will create an L-shape*/
  width: 5px;
  height: 15px;
  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid #0778be;
  border-width: 0 3px 3px 0;
  /*Rotate the L 45 degrees to turn it into a checkmark*/
  transform: rotate(45deg);
  top: 0px;
  left: 7px;
}

#signup-form .form-field label.note {
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
}

/* remove yellow background on autofilled inputs */
/* fuck you webkit !!! */
#signup-form .form-field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset;
}

#signup-form .form-field input,
#signup-form .form-field select {
  background: transparent;
  border: 0 none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
  height: 30px;
  margin: 0.75em 0;
  transition: all .25s ease;
}
#signup-form .form-field select option {
}
#signup-form .form-field input {
  padding-left: 0.25em;
}
#signup-form .form-field input:focus,
#signup-form .form-field select:focus {
  border-bottom: 1px solid #0778be;
}

#signup-form .form-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-indent: 0px;
  text-overflow: '';
  padding-left: 0.25em;
}
@-moz-document url-prefix() {
  #signup-form .form-field select {
    padding-left: 0;
  }
  #signup-form .form-field select option {
    padding: 0;
  }
}
#signup-form .form-field select::-ms-expand {
  display: none;
}

#signup-form .form-field select.empty {
  color: #ddd;
}

#signup-form .form-field select option {
  color: #444;
}
#signup-form .form-field select option:disabled {
  display: none;
}

#signup-form .agreement {
  color: #0778be;
  text-decoration: none;
}

#signup-form .form-field.invalid input,
#signup-form .form-field.invalid select {
  border-bottom-color: red;
}

#signup-form .form-field .error-message {
  background: red;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: white;
  display: block;
  margin: 0 0 0.5em;
  height: 0;
  opacity: 0;
  padding: 0 0 0 .25em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  transition: all .2s ease;
}
#signup-form .form-field.invalid .error-message {
  height: 1.7em;
  opacity: 1;
}


#signup-form fieldset.submit {
  padding: 0.5em;
  text-align: center;
}
#signup-form-submit {
  background: #4a90e2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 9px 7px 12px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: all .25s ease;
  width: 250px;
}
#signup-form-submit:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#signup-form-submit.disabled,
#signup-form-submit.disabled:hover {
  background: #bbb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  text-shadow: none;
}

#billing-address {
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: all .25s ease;
}

#billing-address.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.success #message {
  clear: both;
}

.success #message h2 {
  color: #00bab7;
  margin: 0.5em 0;
  text-shadow: 1px  1px rgba(0, 0, 0, 0.15);
}

.success #message a {
  color: purple;
  text-decoration: none;
}
.success #message a:active,
.success #message a:hover {
  text-decoration: underline;
}
