## -*- coding: utf-8 -*-
<% from datetime import date %>
<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>${brand_name} Signup</title>

    <meta name="description" content="${brand_name} Signup">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="brand/img/logo.png" type="image/png">
    <link rel="apple-touch-icon" href="brand/img/logo.png">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="brand/css/style.css">

    <script src="lib/zepto.js"></script>

  </head>

  <body>

    <!--[if lt IE 10]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <noscript>
      This application requires JavaScript to be enabled.
    </noscript>

    <header>
      <div class="wrapper">

      % if brand_home:
        <a id="branding" href="${brand_home}" target="_blank">
      % else:
        <a id="branding" href="http://www.${brand_domain}" target="_blank">
      % endif
          <img id="brand-logo" src="brand/img/${brand_logo}">
          <span id="brand-html">${brand_html or brand_name}</span>
        </a>

        <span id="contacts">
        % if contact_link:
          <a href="${contact_link}" target="_blank">Contact Us</a>
        % endif
        % if contact_phone:
          % if isinstance(contact_phone, (list, tuple)):
            % for phone in contact_phone:
            <span class="contact_phone">${phone}</span>
            % endfor
          % else:
            <span class="contact_phone">${contact_phone}</span>
          % endif
        % endif
        </span>

      </div>
    </header>

    <div id="content" class="wrapper">

      <form id="signup-form">

        <fieldset id="signup-form-step-0">

          <div class="form-title">General</div>
          <hr>

          <div class="form-field">
            <label for="username">Username:</label>
            <div class="form-input">
              <input id="username" name="username" placeholder="Account username">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="password">Password:</label>
            <div class="form-input">
              <input id="password" name="password" type="password" class="w-50" placeholder="Account password">
              <input id="confirm-password" name="confirm_password" class="w-50" type="password" placeholder="Confirm password">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="domain">Domain</label>
            <div class="form-input">
              <input id="domain" name="domain" placeholder="Account Domain">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="organization">Customer / Organization name:</label>
            <div class="form-input">
              <input id="organization" name="organization" placeholder="Customer / Organization / Company name">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="first-name">Contact Person:</label>
            <div class="form-input">
              <input id="first-name" name="first_name" class="w-50" placeholder="First name">
              <input id="last-name" name="last_name"  class="w-50" placeholder="Last name">
              <input type="hidden" name="contact_person">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="contact-email">Contact Email:</label>
            <div class="form-input">
              <input id="contact-email" name="contact_email" placeholder="mailbox@example.com">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="contact-address-endpoint">Address:</label>
            <div class="form-input">
              <input id="contact-address-endpoint" name="contact_address_endpoint" placeholder="Apt., Building, Street"><br>
              <input id="contact-address-locality" name="contact_address_locality" placeholder="City / Town / Village"><br>
              <input id="contact-address-region" name="contact_address_region" class="w-66" placeholder="State / Province / Region">
              <input id="contact-address-zip-code" name="contact_address_zip_code" class="w-34" placeholder="ZIP Code"><br>
              <select id="contact-address-country" name="contact_address_country" class="empty" onchange="$(this).removeClass('empty')">
                <option value="" disabled selected>Country</option>
                % for country in countries:
                <option value="${country}">${countries[country]}</option>
                % endfor
              </select>
              <input type="hidden" name="contact_address">
            </div>
            <div class="error-message"></div>
          </div>

          % if enable_contact_extra:
          <div class="form-field">
            <label for="contact-extra">${contact_extra_label}:</label>
            <div class="form-input">
              <input id="contact-extra" name="contact_extra" placeholder="${contact_extra_prompt}">
            </div>
          </div>
          % endif

        </fieldset>
        % if enable_billing:
        <fieldset id="signup-form-step-1">

          <div class="form-title">Billing</div>
          <hr>

          <div class="form-field">
            <label for="billing-cc-number">Credit card:</label>
            <div class="form-input">
              <input id="billing-cc-number" name="billing_cc_number" class="w-66 empty" placeholder="Number">
              <input id="billing-cc-secret" name="billing_cc_secret" class="w-34" placeholder="CVV">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="billing-cc-holder">Holder:</label>
            <div class="form-input">
              <input id="billing-cc-holder" name="billing_cc_holder" placeholder="Name as on credit card">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="billing-cc-expire">Expiration Date:</label>
            <div class="form-input">
              <select id="billing-cc-expire-month" name="billing_cc_expire_month" class="w-66 empty" onchange="$(this).removeClass('empty')">
                <option value="" selected disabled>Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <select id="billing-cc-expire-year" name="billing_cc_expire_year" class="w-34 empty" onchange="$(this).removeClass('empty')">
                <option value="" selected disabled>Year</option>
                % for year in range(date.today().year, date.today().year + 15):
                <option value="${year}">${year}</option>
                % endfor
              </select>
              <input type="hidden" name="billing_cc_expire">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label class="checkbox">
              <input id="use-different-billing-address" name="use_different_billing_address" type="checkbox" onchange="$('#billing-address').toggleClass('hidden', !this.checked)">
              <i class="checkbox"></i>
              Use different billing address
            </label>
          </div>

          <div id="billing-address" class="form-field hidden">
            <label for="billing-address-endpoint">Address:</label>
            <div class="form-input">
              <input id="billing-address-endpoint" name="billing_address_endpoint" placeholder="Apt., Building, Street"><br>
              <input id="billing-address-locality" name="billing_address_locality" placeholder="City / Town / Village"><br>
              <input id="billing-address-region" name="billing_address_region" class="w-66" placeholder="State / Province / Region">
              <input id="billing-address-zip-code" name="billing_address_zip_code" class="w-34" placeholder="ZIP Code"><br>
              <select id="billing-address-country" class="empty" onchange="$(this).removeClass('empty')">
                <option value="" disabled selected>Country</option>
                % for country in countries:
                <option value="${country}">${countries[country]}</option>
                % endfor
              </select>
              <input type="hidden" name="billing-address">
              <input type="hidden" name="billing_use_contact_address">
            </div>
            <div class="error-message"></div>
          </div>

        </fieldset>
        % endif

        <fieldset id="signup-form-step-2">

          <div class="form-title">Verification</div>
          <hr>

          <div class="form-field">
            <label for="contact-phone-code">Contact Phone:</label>
            <div class="form-input">
              <select id="contact-phone-code" name="contact_phone_code" class="w-25 empty" onchange="$(this).removeClass('empty')">
                <option value="" selected disabled>Code</option>
                % for code in codes:
                <option value="${code}">${code}</option>
                % endfor
              </select>
              <input id="contact-phone-number" name="contact_phone_number" class="w-75" placeholder="Number">
              <input type="hidden" name="contact_phone">
            </div>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label for="contact-timezone">Timezone:</label>
            <div class="form-input">
              <select id="contact-timezone" name="contact_timezone" class="empty" onchange="$(this).removeClass('empty')">
                <option value="" selected disabled>Local timezone</option>
                % for timezone in timezones:
                  <option value="${timezone}">${timezones[timezone]}</option>
                % endfor
              </select>
            </div>
            <div class="error-message"></div>
          </div>

        </fieldset>

        % if agreements:
        <fieldset>

          <div class="form-title">Agreement</div>
          <hr>

          <div class="form-field">
            <label class="note">Please read carefully following agreements and confirm your acceptance:</label>
            <ul>
              % for id in agreements:
              <li><a id="agreement-${id}" class="agreement" href="${agreements[id]['url']}" target="_blank">${agreements[id]['title']}</a></li>
              % endfor
            </ul>
            <label class="checkbox">
              <input id="accept-agreement" name="accept_agreements" type="checkbox" onchange="$('#signup-form-submit').toggleClass('disabled', !this.checked)">
              <i class="checkbox"></i>
              I have read and agree to the Agreements specified above.
            </label>
            <div class="error-message"></div>
          </div>

          <div class="form-field">
            <label class="note">Email Preferences</label>
            <label class="checkbox">
              <input id="accept-updates" name="accept_updates" type="checkbox">
              <i class="checkbox"></i>
              I want to receive email updates with product and service announcements.
            </label>
          </div>

        </fieldset>
        % endif

        % if agreements:
        <fieldset class="submit">
          <button id="signup-form-submit" class="disabled" type="button" onclick="app.submit()">Signup</button>
        </fieldset>
        % else:
        <fieldset class="submit">
          <button id="signup-form-submit" type="button" onclick="app.submit()">Signup</button>
        </fieldset>
        % endif

      </form>

    </div>

    <div id="wrapper">
      <div id="spinner"></div>

      <div id="api-error-message">
        <h2>API Connectivity Error</h2>
        <p><br>We apologize for any inconvenience. Please call us for assistance.<br><br><ul><li>Toll Free: 0800 140 1380</li></ul><ul><li>International: +62 21 579 40680</li></ul></p>
      </div>
    </div>

    <script src="app/main.js"></script>

  </body>

</html>
